
    <h1>Calculator</h1>
    <div class="calculator noselect">
      <div class="screen">
        <div class="value">
            {{screenValue}}
        </div>
      </div>
      <div class="body">
        <div class="row" style="padding-top: 2%;">
            <button (click)="changeValue('7')" class="key sKeys">7</button>
            <button (click)="changeValue('8')" class="key sKeys">8</button>
            <button (click)="changeValue('9')" class="key sKeys">9</button>
            <button (click)="changeValue('+')" class="key sKeys">+</button>
          </div>
          <div class="row">
            <button (click)="changeValue('4')" class="key sKeys">4</button>
            <button (click)="changeValue('5')" class="key sKeys">5</button>
            <button (click)="changeValue('6')" class="key sKeys">6</button>
            <button (click)="changeValue('-')" class="key sKeys">-</button>
          </div>
          <div class="row">
            <button (click)="changeValue('1')" class="key sKeys">1</button>
            <button (click)="changeValue('2')" class="key sKeys">2</button>
            <button (click)="changeValue('3')" class="key sKeys">3</button>
            <button (click)="changeValue('*')" class="key sKeys">*</button>
          </div>
          <div class="row">
            <button (click)="changeValue('0')" class="key sKeys">0</button>
            <button (click)="backspace()" class="key sKeys">&larr;</button>
            <button (click)="calculateResult()" class="key sKeys">=</button>
            <button (click)="changeValue('/')" class="key sKeys">/</button>
          </div>
      </div>
    </div>

